.about-page {
    display: flex;
    gap: $space-xl;
    padding: $space-xl 0;

    &__content {
        flex: 1;
        min-width: 0;
        & > .container:first-child {
            margin-top: 0;
        }
        & > .container {
            margin-top: $space-xxl;

            & h2 {
                padding-bottom: $space-md;
            }
        }
    }
}
