:root {
  --color-primary: #f2441d;
  --color-primary-light: #e98228;
  --color-bg: #ece7e5;
  --color-bg-secondary: #f2f2f2;
  --color-bg-elevated: #f2f2f2;
  --color-text: #2d3958;
  --color-text-strong: #242426;
  --color-border: #f2a25c;
  --color-black: #0b0b0c;
  --color-white: #f2f2f2;
  --header-height: 64px;
}

[data-theme=dark] {
  --color-primary: #f2441d;
  --color-primary-light: #f2a25c;
  --color-bg: #242426;
  --color-bg-secondary: #103173;
  --color-bg-elevated: #242426;
  --color-text: #ddd4cc;
  --color-text-strong: #f2f2f2;
  --color-border: #f2441d;
}

.icon {
  display: inline-flex;
  flex-shrink: 0;
  color: inherit;
}
.icon--sm {
  width: 16px;
  height: 16px;
}
.icon--md {
  width: 20px;
  height: 20px;
}
.icon--lg {
  width: 24px;
  height: 24px;
}