@use '/src/styles/_variables.scss' as *;

.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-xs {
    gap: $space-xs;
}

.gap-sm {
    gap: $space-sm;
}

.gap-md {
    gap: $space-md;
}

.gap-lg {
    gap: $space-lg;
}
