@use '/src/styles/_variables.scss' as *;
.m-0 {
    margin: 0;
}
.m-xs {
    margin: $space-xs;
}
.m-sm {
    margin: $space-sm;
}
.m-md {
    margin: $space-md;
}
.m-lg {
    margin: $space-lg;
}

.mt-0 {
    margin-top: 0;
}
.mt-xs {
    margin-top: $space-xs;
}
.mt-sm {
    margin-top: $space-sm;
}
.mt-md {
    margin-top: $space-md;
}
.mt-lg {
    margin-top: $space-lg;
}

.mb-0 {
    margin-bottom: 0;
}
.mb-xs {
    margin-bottom: $space-xs;
}
.mb-sm {
    margin-bottom: $space-sm;
}
.mb-md {
    margin-bottom: $space-md;
}
.mb-lg {
    margin-bottom: $space-lg;
}

.p-0 {
    padding: 0;
}
.p-xs {
    padding: $space-xs;
}
.p-sm {
    padding: $space-sm;
}
.p-md {
    padding: $space-md;
}
.p-lg {
    padding: $space-lg;
}
