@use './reset';
@use './typography';

body {
    font: 18px/145% $font-sans;
    letter-spacing: 0.18px;
    color: $text;
    background: $bg;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

    @media (max-width: 1024px) {
        font-size: 16px;
    }
}
@media (prefers-color-scheme: dark) {
    #social .button-icon {
        filter: invert(1) brightness(2);
    }
}
